@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Raleway:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", "Rubik", sans-serif;
  background: #e5e5e5;
}

.formulario--contenedor {
  max-width: 320px;
  width: 100%;
  margin: auto;
  padding: 5px;
}

.formulario--contenedor h2 {
  font-size: 23px;
  font-weight: 800;
  margin-bottom: 20px;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

.formulario--label {
  display: block;
  font-size: 14px;
  font-weight: 800;
  padding: 10px;
  cursor: pointer;
}

.formulario--grupo-input {
  position: relative;
}

.formulario--input {
  width: 100%;
  font-size: 16px;
  background: #fff;
  border: 3px solid transparent;
  border-radius: 7px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
}

.formulario--input:focus {
  border: 3px solid #84a6f0d3;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.formulario--password-ver {
  position: absolute;
  right: -20px;
  bottom: 15px;
  z-index: 100;
  font-size: 16px;
  cursor: pointer;
}

.oculto {
  display: none;
}

.formulario--grupo-error {
  color: #e92b2d;
  font-weight: 800;
  font-size: 12px;
}

.formulario--grupo-btn-enviar {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 1;
}

.formulario--btn {
  height: 40px;
  line-height: 40px;
  width: 80%;
  font-size: 16px;
  background: #000;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s ease all;
}

.formulario--btn:hover {
  box-shadow: 3px 0px 30px rgb(48, 52, 92);
}

.formulario--link {
  display: block;
  margin-top: 10px;
  color: #000;
  font-size: 12px;
  font-weight: bold;
}

.formulario--success {
  display: block;
  margin-top: 10px;
  color: #22cc0b;
  font-size: 14px;
  font-weight: bold;
}

/* ----- -----  Mediaqueries ----- ----- */
@media (min-width: 576px) {
  .formulario--contenedor {
    max-width: 576px;
    padding: 15px;
  }

  .formulario--contenedor h2 {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .formulario--contenedor {
    max-width: 768px;
    padding: 30px;
  }

  .formulario--contenedor h2 {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
  }

  .formulario {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .formulario--grupo-btn-enviar {
    margin-top: 20px;
    grid-column: span 2;
  }

  .formulario--label {
    font-size: 18px;
  }

  .formulario--input {
    font-size: 20px;
  }

  .password {
    position: static;

    grid-column: span 2;
  }
}
